html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:"Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}

img{
    max-width: 100%;
    height: auto;
}

*:focus{
    outline: 2px dashed skyblue;
    outline-offset: 3px;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;

}


/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
}

.devor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.textures4photoshop.com/tex/thumbs/white-brick-wall-seamless-texture-free-thumb38.jpg);
}

.rom{
    display: flex;
    border: 20px ridge rgb(114, 114, 114);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.8);
    background-image: url(https://businessofhome.com/system/ckeditor/pictures/21212/data/content/industrial.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.window{
    width: 200px;
    height: 400px;
    border: 20px ridge rgb(114, 114, 114);
    background-color: rgba(0,0,0,0.6);
    transition: transform 0.80s ease;
}

.left-window{
    transform-origin: left center;
}
.right-window{
    transform-origin: right center;
}
.rom:hover .left-window{
    transform: perspective(2000px) rotateY(-125deg);
}
.rom:hover .right-window{
    transform: perspective(2000px) rotateY(125deg);
}



